<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.unm.jeevan.xml_list" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/deal_hunt"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/ebay_deals" >
        </activity>
        <activity
            android:name=".DealsActivity"
            android:label="@string/deal_news" >
        </activity>
        <activity
            android:name=".DealShow"
            android:label="@string/title_activity_deal_show"
            android:parentActivityName=".DealsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.unm.jeevan.xml_list.DealsActivity" />
        </activity>
    </application>

</manifest>
